<?xml version="1.0" encoding="utf-8"?>
<!--
Ce fichier est utilisé par le processus de publication/package de votre projet Web. Vous pouvez personnaliser le comportement de ce processus
en modifiant ce fichier MSBuild. Pour en savoir plus à ce sujet, consultez la page http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://gw-webloadtesting.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>gw-webloadtesting.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>gw-webloadtesting</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$gw-webloadtesting</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="default" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:gwsql.database.windows.net,1433;Initial Catalog=WebLoadTest;User ID=gwdba@gwsql;Password=berger@c2013;Pooling=True;Max Pool Size=2048;Asynchronous Processing=True;Connect Timeout=15" Name="Data Source=tcp:gwsql.database.windows.net,1433;Database=WebLoadTest;User ID=gwdba@gwsql;Password=berger@c2013;Asynchronous Processing=true;Connect Timeout=15;Max Pool Size=2048;Pooling=true;" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=tcp:***.database.windows.net,1433;Initial Catalog=WebLoadTest;User ID=***@***;Password=***;Pooling=True;Max Pool Size=180;Asynchronous Processing=True;Connect Timeout=15" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\default_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=tcp:***.database.windows.net,1433;Database=WebLoadTest;User ID=***@***;Password=***;Asynchronous Processing=true;Connect Timeout=15;Max Pool Size=180;Pooling=true;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="local" Order="3" Enabled="False">
          <Destination Path="Data Source=BLACK10;Initial Catalog=WebTest;Integrated Security=True;Asynchronous Processing=True;Connect Timeout=15" Name="Server=BLACK10;Database=WebTest;Trusted_Connection=True;Asynchronous Processing=true;Connect Timeout=15;" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=****;Initial Catalog=WebTest;Integrated Security=True;Asynchronous Processing=True;Connect Timeout=15" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\local_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Server=****;Database=WebTest;Trusted_Connection=True;Asynchronous Processing=true;Connect Timeout=15;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)default-Web.config Connection String">
      <ParameterValue>Data Source=tcp:gwsql.database.windows.net,1433;Database=WebLoadTest;User ID=gwdba@gwsql;Password=berger@c2013;Asynchronous Processing=true;Connect Timeout=15;Max Pool Size=2048;Pooling=true;</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)local-Web.config Connection String">
      <ParameterValue>Server=BLACK10;Database=WebTest;Trusted_Connection=True;Asynchronous Processing=true;Connect Timeout=15;</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>