<?xml version="1.0" encoding="utf-8"?>
<!--
Ce fichier est utilisé par le processus de publication/package de votre projet Web. Vous pouvez personnaliser le comportement de ce processus
en modifiant ce fichier MSBuild. Pour en savoir plus à ce sujet, consultez la page http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://webfxtest2652.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>webfxtest2652.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>WebFxTest2652</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$WebFxTest2652</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="default" Order="1" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=tcp:gwsql.database.windows.net,1433;Database=WebLoadTest;User ID=gwdba@gwsql;Password=berger@c2013;Asynchronous Processing=true;Connect Timeout=15;Max Pool Size=2048;Pooling=true;" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\default_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=tcp:gwsql.database.windows.net,1433;Database=WebLoadTest;User ID=gwdba@gwsql;Password=berger@c2013;Asynchronous Processing=true;Connect Timeout=15;Max Pool Size=2048;Pooling=true;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="local" Order="2" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Server=BLACK10;Database=WebTest;Trusted_Connection=True;Asynchronous Processing=true;Connect Timeout=15;" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\local_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Server=BLACK10;Database=WebTest;Trusted_Connection=True;Asynchronous Processing=true;Connect Timeout=15;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="ncrafts" Order="3" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Server=tcp:ncrafts.database.windows.net,1433;Database=nc-basic;User ID=ncraftsdba@ncrafts;Password=ncr@fts2015;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\ncrafts_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Server=tcp:ncrafts.database.windows.net,1433;Database=nc-basic;User ID=ncraftsdba@ncrafts;Password=ncr@fts2015;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)default-Web.config Connection String" />
  </ItemGroup>
</Project>